<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644844432769-2f2o7i9tuvuhtfq8n20pnsqj34fk1qjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644844432769-2f2o7i9tuvuhtfq8n20pnsqj34fk1qjl</string>
	<key>API_KEY</key>
	<string>AIzaSyA1x2Pm4PLUzVkq926Xb7gd0XO02Y41sFE</string>
	<key>GCM_SENDER_ID</key>
	<string>644844432769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xcodetest.HyroxFitnessApp</string>
	<key>PROJECT_ID</key>
	<string>hyroxfitnessapp</string>
	<key>STORAGE_BUCKET</key>
	<string>hyroxfitnessapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:644844432769:ios:de832f9517419d40b64c80</string>
</dict>
</plist>
